.btnSpace {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.3rem;
    word-wrap: break-word;
    width: 245px;
}

.btn {
    font-weight: bold;
    font-size: 1.5ch;
    background-color: #D1D5DB;
    border-style: none;
    color: #0A0A0A;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    min-height: 50px;
    min-width: 160px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

.wachabteilungen {
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.wachabteilung {
    background-color: #D1D5DB;
    max-width: 30vw;
    padding: 0.3em 0.2rem;
    border-radius: 10px;
}

.wachabteilung>h2 {
    text-shadow: 0px 0px 2px black;
}

.abteilungspersonal {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin: 0.3rem auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
}

.abteilungspersonal .card {
    font-size: 1.6ch;
}

.waPerson {
    background: #B6D5FB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #0A0A0A;
    margin: 0.1rem 0.4rem;
    border-radius: 10px;
    padding: 0.5rem 0;
    max-height: 80px;
    width: clamp(110px, 9vw, 200px);
}

.buttonspace {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.settingSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    align-items: stretch;
    margin-bottom: 1rem;
    max-width: 500px;
    margin: 0 auto;
    background-color: #D3D4D6;
    padding: 0.6rem;
    border-radius: 10px;
}

.settingLine {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#Save {
    background-color: #A72920;
    color: #F4F4F4;
    width: fit-content;
    float: right;
    padding: 0;
    min-height: 40px;
    font-size: 1.4ch;
    font-weight: normal;
    margin-left: auto;
    margin-top: 1rem;
}

#Save p {
    margin: 0;
}