:root {
  font-family: "Roboto", sans-serif;
}

h1.loginText {
  text-align: center;
  font-size: 4ch;
  color: #a81309;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  color: #0A0A0A;
  text-align: center;
}

h3 {
  display: flex;
  padding-left: 0.6rem;
  padding-top: 0.3rem;
  color: #0A0A0A;
  text-align: left;
  font-weight: 300;
  font-size: 1.5ch;
}

.close {
  display: flex;
  float: right;
  justify-content: flex-end;
  padding-right: 0.6rem;
  padding-top: 0.3rem;
}

hr {
  color: #0A0A0A;
}

html {
  font-size: clamp(12px, 0.9vw, 18px);
}

body {
  margin: 0;
  background: #F3F4F6;
}

header {
  display: flex;
  width: 100%;
  background: #FF2A1C;
  color: #F4F4F4;
  text-align: center;
  gap: 0.6rem;
  align-items: center;
  justify-content: space-between;
}

header img {
  float: left;
  margin-left: 0.6rem;
  max-height: 3ch;
}

.heading {
  margin: 0;
  padding: 1rem;
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.text {
  flex: 0 1 auto;
  text-decoration: none;
  color: #F4F4F4;
  float: right;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.container {
  width: min(95vw, 1900px);
  margin: 1rem;
}

.containerFlex {
  margin: 1rem;
  display: flex;
  justify-content: center;
  height: 900px;
}

/* IndexPage */

.top-duty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
  align-items: stretch;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.card {
  background: #B6D5FB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #0A0A0A;
  margin: 0.1rem 0.4rem;
  border-radius: 10px;
  padding: 0.5rem 0;
  max-height: 80px;
  width: clamp(110px, 9vw, 200px);
}

.card:hover {
  cursor: grab;
}

.card:active {
  background: #ddd;
}

.card.dragging {
  opacity: 0.5;
}

.middle-duty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
  align-items: stretch;
  margin-bottom: 1rem;
}


.vehicle {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: clamp(110px, 9vw, 200px);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 8px;
  padding-top: 2rem;
  min-width: 180px;
  font-size: 1.6ch;
}

.vehicle h3 {
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
}

.close {
  right: 0.6rem;
  max-height: 18px;
  color: #374151;
}

.close:hover {
  cursor: pointer;
}

.vehicle .person:last-child {
  margin-bottom: 0.4rem;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #0A0A0A;
  background-color: #D1D5DB;
  margin: 0.1rem 0.4rem;
  border-radius: 10px;
  padding: 0.5rem 0;
  max-height: 80px;
}

.person:hover {
  cursor: grab;
}

.person.drop-hover {
  outline: 2px dashed #4caf50;
  background: #eaffea;
}

.vehicle h3 {
  margin: 0 !important;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.side .vehicle {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.team {
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #FFFFFF;
  height: min(80px, fit-content);
  max-height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
  align-items: stretch;
  width: fit-content;
  margin: 0 auto;
}

#workServices {
  display: none;
}

#workServicesTitle {
  display: none;
}

.drop-target {
  outline: 2px dashed red;
  background-color: rgba(255, 0, 0, 0.05);
}

.team.drop-target {
  outline: 2px dashed blue;
  background-color: rgba(255, 0, 0, 0.05);
}

/* SettingsPage */
.buttonspace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
}

input[type="file"]::file-selector-button {
  display: none;

}

input[type="file"]::file-selector-button:hover {
  background: #0A0A0A;
}

/*loginPage*/
.loginContainer {
  position: relative;
  width: 700px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  min-height: 400px;
  max-width: 350px;
  position: absolute;
  left: 0;
}

.inputFields {
  align-self: center;
  overflow: hidden;
  max-width: 99%;
  margin: 12px;
}

.login p {
  padding: 6px;
  font-weight: 500;
  font-size: 2ch;
  margin: 0;
}

.btnLogin {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

#loginbtn.btn {
  align-self: center;
  border-radius: 10px;
  border: 1px solid #a81309;
  background-color: #a81309;
  color: #FFFFFF;
  font-size: 2ch;
  margin: auto 0;
}

.loginPicture {
  position: absolute;
  /* left: 335px; */
  right:0;
  z-index: -1;
}

.loginPicture img {
  min-height: 400px;
  max-height: 400px;
  max-width: 700px;
  float: right;
  border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 290px;
}

@media (max-width: 1100px) {
  .heading {
    font-size: 3ch;
  }

  .vehicle {
    min-width: 60px;
  }
}