<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/style.css">
  <title>Diensteinteilung</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
  <script src="../scripts/scripts.js"></script>
  <script src="../scripts/settings.js" defer></script>
</head>

<body>
  <header>
    <img src="../img/HN_Logo_mit_Adler_Master_sRGB_w205.png" alt="LogoHN">
    <h1 class="heading">Feuerwehr Diensteinteilung</h1>
    <div class="navBar" style="float: right;">
      <a class="text" href="login.html" style="padding-right: 0.6rem;">
        <p>Login</p>
      </a>
    </div>
  </header>

  <main class="container">

    <h2>Führungsdienste</h2>
    <br>
    <section class="top-duty">
      <div class="vehicle">
        <h3>ALvD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="ALvD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>DD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="DD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>LD1</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LD 1" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>LD2</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LD 2" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>HLD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="HLD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>EAL</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="EAL" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>BvD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="BvD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>LFüGr</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LFüGr" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>Schichtführer</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="Schichtführer" draggable="false">Frei</div>
      </div>
    </section>


    <h2>Fahrzeuge</h2>
    <br>
    <section class="middle-duty">
      <div class="side">
        <div class="vehicle">
          <h3>ILS</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="1. Dispo" draggable="false">1. Dispo</div>
          <div class="person" data-role="2. Dispo" draggable="false">2. Dispo</div>
          <div class="person" data-role="3. Dispo" draggable="false">3. Dispo</div>
        </div>

        <div class="vehicle">
          <h3>ELW</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="ELW" draggable="false">LD 1</div>
          <div class="person" data-role="FüAss" draggable="false">FüAss</div>
          <div class="person" data-role="Schw.Retter" draggable="false">3. Dispo</div>
        </div>
      </div>

      <div class="vehicle">
        <h3>LF1</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LF 1 Fü" draggable="false">LF 1 Fü</div>
        <div class="person" data-role="LF 1 Ma" draggable="false">LF 1 Ma</div>
        <div class="person" data-role="LF 1 ATF" draggable="false">LF 1 ATF</div>
        <div class="person" data-role="LF 1 ATM" draggable="false">LF 1 ATM</div>
        <div class="person" data-role="LF 1 WTF" draggable="false">LF 1 WTF</div>
        <div class="person" data-role="LF 1 WTM" draggable="false">LF 1 WTM</div>
      </div>

      <div class="vehicle">
        <h3>LF2</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LF 2 Fü" draggable="false">LF 2 Fü</div>
        <div class="person" data-role="LF 2 Ma" draggable="false">LF 2 Ma</div>
        <div class="person" data-role="LF 2 ATF" draggable="false">LF 2 ATF</div>
        <div class="person" data-role="LF 2 ATM" draggable="false">LF 2 ATM</div>
        <div class="person" data-role="LF 2 WTF" draggable="false">LF 2 WTF</div>
        <div class="person" data-role="LF 2 WTM" draggable="false">LF 2 WTM</div>
      </div>

      <div class="side">

        <div class="vehicle">
          <h3>DLK/RW</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="DLK1 Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="DLK1 Ma" draggable="false">Maschinist</div>
        </div>

        <div class="vehicle">
          <h3>Sonderfahrzeug</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="SoFzg Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="SoFzg Ma" draggable="false">Maschinist</div>
        </div>
      </div>

      <div class="side">
        <div class="vehicle">
          <h3>KEF/GW-T</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="KEF Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="KEF Ma" draggable="false">Maschinist</div>
        </div>

        <div class="vehicle">
          <h3>FwK/GW-Rüst</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="Fwk Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="Fwk Ma" draggable="false">Maschinist</div>
        </div>

      </div>
    </section>

    <h2 id="workServicesTitle">Arbeitsdienste</h2>
    <br>
    <section class="middle-duty" id="workServices">

      <div class="vehicle">
        <h3>Kantine</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="Kantine" draggable="false">Kantine</div>
        <div class="person" data-role="Kantine 2" draggable="false">Kantine</div>
      </div>

      <div class="vehicle">
        <h3>Wäsche</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="Wäsche" draggable="false">Wäsche</div>
      </div>

      <div class="vehicle">
        <h3>Getränke</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="Getränke" draggable="false">Getränke</div>
      </div>

      <div class="vehicle">
        <h3>ZAW</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="ZAW" draggable="false">ZAW</div>
      </div>

      <div class="vehicle">
        <h3>ZSW</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="ZSW" draggable="false">ZSW</div>
      </div>

      <div class="vehicle">
        <h3>Abrufschicht</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="Abrufschicht" draggable="false">Abrufschicht</div>
      </div>
    </section>


    <h2>Mannschaft Frei</h2>
    <br>
    <section class="team" id="teamSection">
    </section>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      window.DiensteSettings.initSettingsAdjustment();

      const assignments = window.Dienste.getContent();
      if (!assignments || !assignments.length) return;

      window.Dienste.renderAssignments(assignments);
      window.Dienste.initDragAndDrop();
      window.Dienste.initDeleteButtons();
    });

    window.addEventListener("beforeunload", () => {
      localStorage.removeItem(K);
    });
  </script>
</body>

</html>