<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/style.css">
    <title>Diensteinteilung</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <script src="../scripts/scripts.js"></script>
    <script src="../scripts/settings.js" defer></script>
</head>

<body>
    <header>
        <img src="../img/HN_Logo_mit_Adler_Master_sRGB_w205.png" alt="LogoHN">
        <h1 class="heading">Feuerwehr Diensteinteilung</h1>
        <div class="navBar" style="float: right;">
            <a class="text" href="index_start.html" style="padding-right: 0.6rem;">
                <p>Zurück</p>
            </a>
        </div>
    </header>

  <main class="containerFlex">
        <div class="loginContainer">
            <section class="login">
                <h1 class="loginText">Login</h1>
                <div class="inputFields">
                    <input type="text" placeholder="Vorname">
                    <br>
                    <input type="text" placeholder="Nachname">
                    <br>
                    <input type="email" placeholder="Email">
                    <br>
                    <input type="password" placeholder="Passwort">
                    <br>
                </div>
                <div class=" btnLogin">
                    <button id="loginbtn" class="btn" type="button">
                        <p>Einloggen</p>
                    </button>
                </div>
            </section>
            <section class="loginPicture">
                <img src="../img/GW Rüst FFW HN.png" alt="Login Bild">
            </section>
        </div>
    </main>

    <script>

    </script>
</body>

</html>