<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>Diensteinteilung</title>

  <link rel="stylesheet" href="../views/style.css">
  <link rel="stylesheet" href="../views/settingsStyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
  <script src="../scripts/scripts.js"></script>
</head>

<body>
  <header>
    <img src="../img/HN_Logo_mit_Adler_Master_sRGB_w205.png" alt="LogoHN">
    <h1 class="heading">Feuerwehr Heilbronn Diensteinteilung</h1>
    <a class="text" href="index.html" style="padding-right: 0.6rem;">
      <p>Einstellungen</p>
    </a>
  </header>


  <main class="container">
    <div class="controls">
      <input id="csvFile" type="file" accept=".csv,text/csv" style="display:none">
      <input id="pdfFile" type="file" accept=".pdf" style="display:none">

      <div class="btnSpace">
        <button id="btnCsv" class="btn" type="button">
          <p>CSV hochladen</p>
        </button>
        <a id="csvResult"></a>
      </div>

      <div class="btnSpace">
        <button id="btnClear" class="btn" type="button">
          <p>Reset</p>
        </button>
        <a id="resetResult"></a>
      </div>

      <div class="btnSpace">
        <button id="btnStructed" class="btn" type="button">
          <p>Lade text aus PDF</p>
        </button>
        <a id="buildResult"></a>
      </div>
    </div>

    <hr>


    <div class="wachabteilungen">
      <div class="wachabteilung">
        <h2 style="color: #F44336;">WA1</h2>
        <div class="abteilungspersonal">
          <div class="card" draggable="true">Bock, Phillipp</div>
          <div class="card" draggable="true">Ehrlich, Ralf</div>
          <div class="card" draggable="true">Föll, Alexander</div>
          <div class="card" draggable="true">Frommbach, Jochen</div>
          <div class="card" draggable="true">Kraft, Marc</div>
          <div class="card" draggable="true">Leimbeck, Johannes</div>
          <div class="card" draggable="true">Lentsch, Michael</div>
          <div class="card" draggable="true">Nautscher, Yannick</div>
          <div class="card" draggable="true">Pierro, Marc</div>
          <div class="card" draggable="true">Ringelstetter, Matthias</div>
          <div class="card" draggable="true">Samojauska, Mario</div>
          <div class="card" draggable="true">Scheer, Thilo</div>
          <div class="card" draggable="true">Schieker, Robert</div>
          <div class="card" draggable="true">Wally, Christian</div>
          <div class="card" draggable="true">Weber, Vincent</div>
        </div>
      </div>


      <div class="wachabteilung">
        <h2 style="color: #FFEB3B;">WA2</h2>
        <div class="abteilungspersonal">
          <div class="card" draggable="true">Ahrend, Marius</div>
          <div class="card" draggable="true">Butzelaar, Simon</div>
          <div class="card" draggable="true">Dalbeck, Nils</div>
          <div class="card" draggable="true">Demele, Achim</div>
          <div class="card" draggable="true">Dunz, Elias</div>
          <div class="card" draggable="true">Fortwingel, Marc</div>
          <div class="card" draggable="true">Frebel, Simon</div>
          <div class="card" draggable="true">Fried, Marlon</div>
          <div class="card" draggable="true">Kaiser, Alexander</div>
          <div class="card" draggable="true">Lang, Vincenz</div>
          <div class="card" draggable="true">Mentzen, Johannes</div>
          <div class="card" draggable="true">Rifert, Dimitri</div>
          <div class="card" draggable="true">Sassmann, Luciano</div>
          <div class="card" draggable="true">Seizinger, Jürgen</div>
          <div class="card" draggable="true">Siegele, Philipp</div>
          <div class="card" draggable="true">Sprang, Niklas</div>
          <div class="card" draggable="true">Steinnagel, Rainer</div>
          <div class="card" draggable="true">Wahl, Andreas</div>
          <div class="card" draggable="true">Weik, Marvin</div>
          <div class="card" draggable="true">Wörz, Oliver</div>
        </div>
      </div>

      <div class="wachabteilung">
        <h2 style="color: #4CAF50;">WA3</h2>
        <div class="abteilungspersonal">
          <div class="card" draggable="true">Aras, Bastian</div>
          <div class="card" draggable="true">Bläse, Sascha</div>
          <div class="card" draggable="true">Berg, Andre</div>
          <div class="card" draggable="true">Butzkow, Lars</div>
          <div class="card" draggable="true">Fromm, Thomas</div>
          <div class="card" draggable="true">Gabeli, Michael</div>
          <div class="card" draggable="true">Harst, Jan</div>
          <div class="card" draggable="true">Hintz, Markus</div>
          <div class="card" draggable="true">Irion, Rene</div>
          <div class="card" draggable="true">Kirchner, Christopher</div>
          <div class="card" draggable="true">Künzel, Matthias</div>
          <div class="card" draggable="true">Mattes, Manuel</div>
          <div class="card" draggable="true">Noller, Philip</div>
          <div class="card" draggable="true">Ockert, Tim</div>
          <div class="card" draggable="true">Otten, Kai</div>
          <div class="card" draggable="true">Phillipp, Martin</div>
          <div class="card" draggable="true">Pils, Lucas</div>
          <div class="card" draggable="true">Riehl, Fabian</div>
          <div class="card" draggable="true">Rössel, Timo</div>
          <div class="card" draggable="true">Samojauska, Stefan</div>
          <div class="card" draggable="true">Weiss, Christof</div>
        </div>
      </div>

      <div class="wachabteilung">
        <h2 style="color: #03A9F4;">TED</h2>
        <div class="abteilungspersonal">
          <div class="card" draggable="true">Ay, Eckhardt</div>
          <div class="card" draggable="true">Braun, Steffen</div>
          <div class="card" draggable="true">Flinspach, Sven</div>
          <div class="card" draggable="true">Frank, Marcel</div>
          <div class="card" draggable="true">Friedle, Daniel</div>
          <div class="card" draggable="true">Hägele, Frank</div>
          <div class="card" draggable="true">Kober, Julian</div>
          <div class="card" draggable="true">Kumpf, Christian</div>
          <div class="card" draggable="true">Neidlein, Lars</div>
          <div class="card" draggable="true">Otten, Markus</div>
          <div class="card" draggable="true">Raum, Matthias</div>
          <div class="card" draggable="true">Schoch, Timo</div>
          <div class="card" draggable="true">Schuchmann, Thilo</div>
          <div class="card" draggable="true">Wetteskind, Markus</div>
        </div>
      </div>
    </div>
  </main>

  <script>
    const csvInput = document.getElementById('csvFile');
    const pdfInput = document.getElementById('pdfFile');

    const btnCsv = document.getElementById('btnCsv');
    const btnClear = document.getElementById('btnClear');
    const btnStructed = document.getElementById('btnStructed');

    const buildResult = document.getElementById('buildResult');
    const resetResult = document.getElementById('resetResult');
    const csvResult = document.getElementById('csvResult');

    btnCsv.addEventListener('click', () => csvInput.click());

    csvInput.addEventListener('change', (e) => {
      const f = e.target.files[0];
      if (!f) return;
      const res = window.Dienste.saveCsvFromFile(f);
      csvInput.value = "";
      csvResult.textContent = res;
    });

    btnClear.addEventListener('click', () => {
      const res = window.Dienste.clearStoredCsv();
      resetResult.textContent = res;
    });

    btnStructed.addEventListener('click', async () => {
      buildResult.textContent = "Läuft...";
      const res = await window.api.runBuild("structedSeating_20260526.xlsx", "neueCSV.csv");

      buildResult.textContent = res;
    });

    document.addEventListener("DOMContentLoaded", () => {
      window.Dienste.initDragAndDrop();
    });

  </script>
</body>

</html>