<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../views/settingsStyle.css">
    <title>Diensteinteilung</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <script src="../scripts/scripts.js"></script>
</head>

<body>
    <header>
        <img src="../img/HN_Logo_mit_Adler_Master_sRGB_w205.png" alt="LogoHN">
        <h1 class="heading">Feuerwehr Diensteinteilung</h1>
        <div class="navBar" style="float: right;">
            <a class="text" href="index.html" style="padding-right: 0.6rem;color: #A72920 !important;">
                <p>Hauptmenü</p>
            </a>
            <a class="text" href="settings.html" style="padding-right: 0.6rem;color: #A72920 !important;">
                <p>Einstellungen</p>
            </a>
            <a class="text" href="shiftSchedule.html" style="padding-right: 0.6rem;">
                <p>Schichtplan</p>
            </a>
        </div>
    </header>

    <main class="container">

        <div class="wachabteilungen">
            <div class="wachabteilung" style="min-width: 30vw;">
                <h2 style="color: #F44336;">WA1</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="true">Alexander, Föll</div>
                    <div class="card" draggable="true">Christian, Wally</div>
                    <div class="card" draggable="true">Jochen, Frommbach</div>
                    <div class="card" draggable="true">Johannes, Leimbeck</div>
                    <div class="card" draggable="true">Marc, Pierro</div>
                    <div class="card" draggable="true">Marc, Kraft</div>
                    <div class="card" draggable="true">Mario, Samojauska</div>
                    <div class="card" draggable="true">Matthias, Ringelstetter</div>
                    <div class="card" draggable="true">Michael, Lentsch</div>
                    <div class="card" draggable="true">Michael, Steudle</div>
                    <div class="card" draggable="true">Niklas, Häfele</div>
                    <div class="card" draggable="true">Philipp, Bock</div>
                    <div class="card" draggable="true">Ralf, Ehrlich</div>
                    <div class="card" draggable="true">Robert, Schieker</div>
                    <div class="card" draggable="true">Thilo, Scheer</div>
                    <div class="card" draggable="true">Vincent, Weber</div>
                    <div class="card" draggable="true">Yannick, Nautscher</div>
                </div>
            </div>


            <div class="wachabteilung" style="min-width: 30vw;">
                <h2 style="color: #FFEB3B;">WA2</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="true">Achim, Demele</div>
                    <div class="card" draggable="true">Alexander, Kaiser</div>
                    <div class="card" draggable="true">Andreas, Wahl</div>
                    <div class="card" draggable="true">Dimitri, Rifert</div>
                    <div class="card" draggable="true">Elias, Dunz</div>
                    <div class="card" draggable="true">Jürgen, Seizinger</div>
                    <div class="card" draggable="true">Marc, Fortwingel</div>
                    <div class="card" draggable="true">Marius, Ahrend</div>
                    <div class="card" draggable="true">Marlon, Fried</div>
                    <div class="card" draggable="true">Marvin, Weik</div>
                    <div class="card" draggable="true">Niklas, Sprang</div>
                    <div class="card" draggable="true">Nils, Dalbeck</div>
                    <div class="card" draggable="true">Oliver, Wörz</div>
                    <div class="card" draggable="true">Philipp, Siegele</div>
                    <div class="card" draggable="true">Rainer, Steinnagel</div>
                    <div class="card" draggable="true">Simon, Butzelaar</div>
                    <div class="card" draggable="true">Vincenz, Lang</div>
                </div>
            </div>

            <div class="wachabteilung" style="min-width: 30vw;">
                <h2 style="color: #4CAF50;">WA3</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="true">Andre, Berg</div>
                    <div class="card" draggable="true">Bastian, Aras</div>
                    <div class="card" draggable="true">Christof, Weiss</div>
                    <div class="card" draggable="true">Fabian, Riehl</div>
                    <div class="card" draggable="true">Jan, Harst</div>
                    <div class="card" draggable="true">Lars, Butzkow</div>
                    <div class="card" draggable="true">Lucas, Pils</div>
                    <div class="card" draggable="true">Manuel, Mattes</div>
                    <div class="card" draggable="true">Markus, Hintz</div>
                    <div class="card" draggable="true">Matthias, Künzel</div>
                    <div class="card" draggable="true">Michael, Gabeli</div>
                    <div class="card" draggable="true">Philip, Noller</div>
                    <div class="card" draggable="true">Sascha, Bläse</div>
                    <div class="card" draggable="true">Stefan, Samojauska</div>
                    <div class="card" draggable="true">Thomas, Fromm</div>
                    <div class="card" draggable="true">Tim, Ockert</div>
                    <div class="card" draggable="true">Timo, Rössel</div>
                </div>
            </div>

            <div class="wachabteilung">
                <h2 style="color: #03A9F4;">TED</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="true">Christian, Kumpf</div>
                    <div class="card" draggable="true">Christian, Stolz</div>
                    <div class="card" draggable="true">Daniel, Friedle</div>
                    <div class="card" draggable="true">Eckhard, Aÿ</div>
                    <div class="card" draggable="true">Frank, Hägele</div>
                    <div class="card" draggable="true">Julian, Kober</div>
                    <div class="card" draggable="true">Marcel, Frank</div>
                    <div class="card" draggable="true">Steffen, Haas</div>
                    <div class="card" draggable="true">Steffen, Braun</div>
                    <div class="card" draggable="true">Sven, Flinspach</div>
                    <div class="card" draggable="true">Thilo, Schuchmann</div>
                    <div class="card" draggable="true">Timo, Schoch</div>
                </div>
            </div>

            <div class="wachabteilung">
                <h2 style="color:#C0C0C0;">LD</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="true">Alexander, Reber</div>
                    <div class="card" draggable="true">Andy, Pfitzenmaier</div>
                    <div class="card" draggable="true">Benjamin, Zürn</div>
                    <div class="card" draggable="true">Benjamin, Krahmer</div>
                    <div class="card" draggable="true">Carsten, Heidegger</div>
                    <div class="card" draggable="true">Jürgen, Lobmüller</div>
                    <div class="card" draggable="true">Jürgen, Vogt</div>
                    <div class="card" draggable="true">Kai, Rudolph</div>
                    <div class="card" draggable="true">Lars, Heidchen</div>
                    <div class="card" draggable="true">Marco, Jäger</div>
                    <div class="card" draggable="true">Markus, Widmann</div>
                    <div class="card" draggable="true">Matthias, Raum</div>
                    <div class="card" draggable="true">Matthias, Krüger</div>
                    <div class="card" draggable="true">Ralph, Nester</div>
                    <div class="card" draggable="true">Thomas, Knurr</div>
                    <div class="card" draggable="true">Tim, Rocksien</div>
                    <div class="card" draggable="true">Uwe, Hirschmüller</div>
                    <div class="card" draggable="true">Yannick, Pilz</div>
                </div>
            </div>

            <div class="wachabteilung">
                <h2 style="color:#0A0A0A;">GAL</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="true">Daniel, Döbler</div>
                    <div class="card" draggable="true">Jona, Wann</div>
                    <div class="card" draggable="true">Marc, Schramm</div>
                    <div class="card" draggable="true">Marco, Waldheim</div>
                    <div class="card" draggable="true">Michael, Gebhardt</div>
                    <div class="card" draggable="true">Michael, Streeb</div>
                    <div class="card" draggable="true">Philipp, Bauer</div>
                    <div class="card" draggable="true">Tim, Rehn</div>
                    <div class="card" draggable="true">Chantal, Meidel</div>
                    <div class="card" draggable="true">Nicolas, Hack</div>
                </div>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            window.Dienste.initDragAndDrop();
        });
    </script>
</body>

</html>