<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/settingsStyle.css">
    <title>Papyrus</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <script src="../scripts/scripts.js"></script>
</head>

<body>
    <header>
        <a href="https://feuerwehr.heilbronn.de/startseite.html">
            <img src="../img/HN_Logo_mit_Adler_Master_sRGB_w205.png" alt="LogoHN">
        </a>

    <div style="display: flex;flex-direction: row;justify-content: center;margin: 0 auto;">
      <a href="https://de.wikipedia.org/wiki/Pyrotechnik" style="display: contents;">
        <img src="../img/Logo_2.png" alt="Papyrus" style="/* margin-right: 290px; */height: 42px !IMPORTANT;max-height: 42px;">
        <h1 style="text-decoration: none;color: white;margin: 0;padding: 0;">Papyrus</h1>
      </a>
    </div>

        <div class="navBar" style="float: right; width: 265px;">
            <a class="text" style="padding-right: 0.6rem ;color: #D1D5DB !important;" href="login.html"
                onclick="Dienste.logout(); return false;">
                <img src="../img/ausloggen.png" alt="Logut" class="navLogo">
            </a>
            <a class="text" href="settings.html" style="padding-right: 0.6rem;color: #A72920 !important;">
                <img src="../img/einstellungen.png" alt="Einstellungen" class="navLogo">
            </a>
            <a class="text" href="index.html" style="padding-right: 0.6rem;">
                <img src="../img/hauptmenu.png" alt="Hauptmenü" class="navLogo">
            </a>
        </div>
    </header>

    <main class="container">

        <div class="wachabteilungen">
            <div class="wachabteilung" style="min-width: 30vw;">
                <h2 style="color: #F44336;">WA1</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="false">Alexander, Föll</div>
                    <div class="card" draggable="false">Christian, Wally</div>
                    <div class="card" draggable="false">Jochen, Frommbach</div>
                    <div class="card" draggable="false">Johannes, Leimbeck</div>
                    <div class="card" draggable="false">Marc, Pierro</div>
                    <div class="card" draggable="false">Marc, Kraft</div>
                    <div class="card" draggable="false">Mario, Samojauska</div>
                    <div class="card" draggable="false">Matthias, Ringelstetter</div>
                    <div class="card" draggable="false">Michael, Lentsch</div>
                    <div class="card" draggable="false">Michael, Steudle</div>
                    <div class="card" draggable="false">Niklas, Häfele</div>
                    <div class="card" draggable="false">Philipp, Bock</div>
                    <div class="card" draggable="false">Ralf, Ehrlich</div>
                    <div class="card" draggable="false">Robert, Schieker</div>
                    <div class="card" draggable="false">Thilo, Scheer</div>
                    <div class="card" draggable="false">Vincent, Weber</div>
                    <div class="card" draggable="false">Yannick, Nautscher</div>
                </div>
            </div>


            <div class="wachabteilung" style="min-width: 30vw;">
                <h2 style="color: #FFEB3B;">WA2</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="false">Achim, Demele</div>
                    <div class="card" draggable="false">Alexander, Kaiser</div>
                    <div class="card" draggable="false">Andreas, Wahl</div>
                    <div class="card" draggable="false">Dimitri, Rifert</div>
                    <div class="card" draggable="false">Elias, Dunz</div>
                    <div class="card" draggable="false">Jürgen, Seizinger</div>
                    <div class="card" draggable="false">Marc, Fortwingel</div>
                    <div class="card" draggable="false">Marius, Ahrend</div>
                    <div class="card" draggable="false">Marlon, Fried</div>
                    <div class="card" draggable="false">Marvin, Weik</div>
                    <div class="card" draggable="false">Niklas, Sprang</div>
                    <div class="card" draggable="false">Nils, Dalbeck</div>
                    <div class="card" draggable="false">Oliver, Wörz</div>
                    <div class="card" draggable="false">Philipp, Siegele</div>
                    <div class="card" draggable="false">Rainer, Steinnagel</div>
                    <div class="card" draggable="false">Simon, Butzelaar</div>
                    <div class="card" draggable="false">Vincenz, Lang</div>
                </div>
            </div>

            <div class="wachabteilung" style="min-width: 30vw;">
                <h2 style="color: #4CAF50;">WA3</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="false">Andre, Berg</div>
                    <div class="card" draggable="false">Bastian, Aras</div>
                    <div class="card" draggable="false">Christof, Weiss</div>
                    <div class="card" draggable="false">Fabian, Riehl</div>
                    <div class="card" draggable="false">Jan, Harst</div>
                    <div class="card" draggable="false">Lars, Butzkow</div>
                    <div class="card" draggable="false">Lucas, Pils</div>
                    <div class="card" draggable="false">Manuel, Mattes</div>
                    <div class="card" draggable="false">Markus, Hintz</div>
                    <div class="card" draggable="false">Matthias, Künzel</div>
                    <div class="card" draggable="false">Michael, Gabeli</div>
                    <div class="card" draggable="false">Philip, Noller</div>
                    <div class="card" draggable="false">Sascha, Bläse</div>
                    <div class="card" draggable="false">Stefan, Samojauska</div>
                    <div class="card" draggable="false">Thomas, Fromm</div>
                    <div class="card" draggable="false">Tim, Ockert</div>
                    <div class="card" draggable="false">Timo, Rössel</div>
                </div>
            </div>

            <div class="wachabteilung">
                <h2 style="color: #03A9F4;">TED</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="false">Christian, Kumpf</div>
                    <div class="card" draggable="false">Christian, Stolz</div>
                    <div class="card" draggable="false">Daniel, Friedle</div>
                    <div class="card" draggable="false">Eckhard, Aÿ</div>
                    <div class="card" draggable="false">Frank, Hägele</div>
                    <div class="card" draggable="false">Julian, Kober</div>
                    <div class="card" draggable="false">Marcel, Frank</div>
                    <div class="card" draggable="false">Steffen, Haas</div>
                    <div class="card" draggable="false">Steffen, Braun</div>
                    <div class="card" draggable="false">Sven, Flinspach</div>
                    <div class="card" draggable="false">Thilo, Schuchmann</div>
                    <div class="card" draggable="false">Timo, Schoch</div>
                </div>
            </div>

            <div class="wachabteilung">
                <h2 style="color:#C0C0C0;">LD</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="false">Alexander, Reber</div>
                    <div class="card" draggable="false">Andy, Pfitzenmaier</div>
                    <div class="card" draggable="false">Benjamin, Zürn</div>
                    <div class="card" draggable="false">Benjamin, Krahmer</div>
                    <div class="card" draggable="false">Carsten, Heidegger</div>
                    <div class="card" draggable="false">Jürgen, Lobmüller</div>
                    <div class="card" draggable="false">Jürgen, Vogt</div>
                    <div class="card" draggable="false">Kai, Rudolph</div>
                    <div class="card" draggable="false">Lars, Heidchen</div>
                    <div class="card" draggable="false">Marco, Jäger</div>
                    <div class="card" draggable="false">Markus, Widmann</div>
                    <div class="card" draggable="false">Matthias, Raum</div>
                    <div class="card" draggable="false">Matthias, Krüger</div>
                    <div class="card" draggable="false">Ralph, Nester</div>
                    <div class="card" draggable="false">Thomas, Knurr</div>
                    <div class="card" draggable="false">Tim, Rocksien</div>
                    <div class="card" draggable="false">Uwe, Hirschmüller</div>
                    <div class="card" draggable="false">Yannick, Pilz</div>
                </div>
            </div>

            <div class="wachabteilung">
                <h2 style="color:#0A0A0A;">GAL</h2>
                <div class="abteilungspersonal">
                    <div class="card" draggable="false">Daniel, Döbler</div>
                    <div class="card" draggable="false">Jona, Wann</div>
                    <div class="card" draggable="false">Marc, Schramm</div>
                    <div class="card" draggable="false">Marco, Waldheim</div>
                    <div class="card" draggable="false">Michael, Gebhardt</div>
                    <div class="card" draggable="false">Michael, Streeb</div>
                    <div class="card" draggable="false">Philipp, Bauer</div>
                    <div class="card" draggable="false">Tim, Rehn</div>
                    <div class="card" draggable="false">Chantal, Meidel</div>
                    <div class="card" draggable="false">Nicolas, Hack</div>
                </div>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            window.Dienste.initDragAndDrop();
        });
    </script>
</body>

</html>